body{
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
  font-family: roboto, arial;
}
/* Header styles */
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 55px;
  z-index: 100;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  border-bottom: solid 1px rgb(228, 228, 228);
}


.right-section{
  display: flex;
  flex-direction: row;
}
.menu-icon{
  height: 24px;
  margin-right: 24px;
  margin-left: 24px;
}
.youtube-logo{
 height: 20px;
}


.middle-section{
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin-left: 70px;
  margin-right: 35px;
}
.middle-section input{
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  border: solid 1px lightgray;
  border-radius: 2px;
  padding-left: 10px;
  font-size: 16px;
 
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.search-bar::placeholder{
  font-family: Roboto, arial;
  font-size: 16px;
}
.search-button{
  border: solid 1px lightgray;
  height: 40px;
  width: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: -1px;
  margin-right: 10px;
}

.mic-button{
  border: none 0px lightgray;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.search-icon{
  height: 24px;
}
.search-button,
.mic-button,
.create-icon-container,
.notifications-icon-box,
.apps-icon-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button .tooltip,
.mic-button .tooltip,
.create-icon-container .tooltip,
.notifications-icon-box .tooltip,
.apps-icon-container .tooltip{
  position: absolute;
  bottom: -35px;
  background-color: grey;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
  white-space: nowrap;
  
}
.search-button:hover .tooltip,
.mic-button:hover .tooltip,
.create-icon-container:hover .tooltip,
.notifications-icon-box:hover .tooltip,
.apps-icon-container:hover .tooltip{
  opacity: 1;
}

.left-section{
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.create-icon{
  width: 24px;
  cursor: pointer;
}
.apps-icon{
  width: 24px;
  cursor: pointer;
}

.notifications-icon{
  width: 24px;
  cursor: pointer;
}
.notifications-count{
  background-color: red;
  color: white;
  padding: 1px 4px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -2px;
  right: -2px;
}
.profile-picture-small{
  height: 32px;
  border-radius: 50px;
  cursor: pointer;
}

/* sidebar styles */
.sidebar{
  width: 80px;
  bottom: 0;
  position: fixed;
  top: 78px;
  left: 0;
  background-color: white;
  
}
.sidebar-tile{
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.sidebar-tile:hover{
  cursor: pointer;
  opacity: 0.9;
  background-color: lightgrey;
}
.sidebar-tile img{
  width: 25px;
  padding-top: 5px;
  margin-bottom: 4px;
}
.sidebar-tile p{
  font-size: 10px;
  text-align: center;
  margin-left: 0;
  padding-bottom: 5px;
}
/* Main content styles */

.video-gallery-grid{ /* this is called video-grid in the lesson*/
  padding: 20px; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
  
}
@media (max-width:800px) {
  .video-gallery-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:1000px) and (max-width:800px) {
 .video-gallery-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width:1000px){
  .video-gallery-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .video-title{
    font-size: 16px;
    line-height: 24px;
    color: red;
  }
  body{
    font-size: 14px;
    color: red;
  }
}
.video-preview{
  background-color: white;
}
.thumbnail-container{
  position: relative;
}
.thumbnail{
  width: 100%;
  margin-bottom: 8px;
}
.video-duration-stamp{
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  position: absolute;
  bottom: 20px;
  right: 10px;
}


.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.channel-picture-box{
  position: relative;
  display: flex;
  
}
.channel-picture-box .tooltip{
  position: absolute;
  bottom: -45px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px black ;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  opacity: 0;
  z-index: 50;
  pointer-events: none;
  transition: opacity 1s;
}
.channel-picture-box .tooltip img{
width: 60px;
height: 60px;
border-radius: 50px;
object-fit: cover;
margin-right: 5px;
}
.channel-picture-box .tooltip p{
  margin: 0;
  white-space: nowrap;
  margin-bottom: 5px;
}

.channel-picture-box:hover .tooltip{
  opacity: 1;
}
.profile-picture{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
video-info{
  background-color: white;
  display: grid;
  grid-template-columns: 40px 1fr;

}

.video-title{
  margin: 0 0 10px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  color: black;
}
.video-author, .video-stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
}